@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
}


/*----------Landing Section----------*/
.landing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1rem;
    /* background-color: #0A2357; */
    background-color: #222629;
}

.landing-text {
    margin: 2rem;
    color: white;
}

.highlight {
    color: #87C232;
    font-weight: 600;
}

.landing-btn {
    border: 2px solid;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    /* background-color: #0A2357; */
    background-color: #222629;
    font-family: 'Raleway', sans-serif;
    padding: 12px 20px 12px 15px;
    transition: all 0.5s;
}

.landing-btn:hover {
    background-color: #87C232;
    border: 2px solid #87C232;
}

.fa-arrow-down {
    margin-left: 10px;
}

/*------------Navigation bar section-------------*/
.navbar-section {
    /* background-color: #1B242F; */
    background-color: #474A4F;
    border-bottom: 2px #87C232 solid;
    padding: 1px;
}

ul {
    list-style-type: none;
}

ul a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

ul a:hover {
    color: #87C232;
}

.item {
    width: 100%;
    text-align: center;
    display: none;
    letter-spacing: .2rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.item.active {
    display: block;
}

.toggle {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/*------------------About Section----------------------*/
.about-section {
    text-align: center;
}

.about-section-title, .project-section-title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-decoration: underline;
}

.jorge-img {
    width: 100%;
    height: auto;
}

.icon-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.fast, .responsive, .collaboration, .ux-ui {
    padding: 1rem;
}

/*------Skills Section-----*/
.skills-container {
    box-sizing: border-box;
    width: 100%;
    background-color: #EEEEEE;
}

.skills-section {
    padding: 2rem;
}

.skills-section p {
    font-weight: 800;
}

.jorge-info {
    padding: 1rem;
}

.skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.html {width: 90%; background-color: #87C232;}
.css {width: 80%; background-color: #87C232;}
.js {width: 70%; background-color: #87C232;}
.react {width: 65%; background-color: #87C232;}
.node {width: 75%; background-color: #87C232;}

/*-------------------------------Projects Section-------------------------------*/
.project-section {
    background-color: #EEEEEE;
}




/*-------------------Media Queries---------------------*/
@media(min-width:1024px){

    /*-----landing Section-----*/
    .landing-section {
        font-size: 2rem;
    }

    /*-----Navbar----*/
    .toggle {
        display: none;
    }

    .menu {
        display: inline;
    }

    .item {
        display: inline;
        font-size: 1rem;
    }

    .navbar {
        padding: 0.5rem;
        text-align: end;
    }

/*-----About Section-----*/

    .about-section {
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .about-section-title {
        margin-top: 5rem;
        margin-bottom: 5rem;;
    }

    .icon-section {
        display: flex;
        flex-direction: row;
        margin-bottom: 6rem;
    }

    .icon-section p {
        line-height: 1.5;
    }

    .jorge-img {
        max-width: 50%;
        height: auto;
    }

    .info-skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "jorgeinfo skills";
    }

    .jorge-info {
        line-height: 1.5;
    }

    .jorge-info-section {
        grid-area: jorgeinfo;
    }

    .skills-section {
        grid-area: skills;
    }

    /*-------------Project Section------------*/

    .project-section {
        text-align: center;
    }

    .project-section-title {
        margin-bottom: 5rem;
    }

}