@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
}


/*----------Landing Section----------*/
.landing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1rem;
    /* background-color: #0A2357; */
    background-color: #222629;
}

.landing-text {
    margin: 2rem;
    color: white;
}

.highlight {
    /* color: aquamarine; */
    color: #87C232;
    font-weight: 600;
}

.landing-btn {
    border: 2px solid;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    /* background-color: #0A2357; */
    background-color: #222629;
    font-family: 'Raleway', sans-serif;
    padding: 12px 20px 12px 15px;
    transition: all 0.5s;
}

.landing-btn:hover {
    background-color: #87C232;
    border: 2px solid #87C232;
}

.fa-arrow-down {
    margin-left: 10px;
}

/*------------Navigation bar section-------------*/
.navbar-section {
    /* background-color: #1B242F; */
    background-color: #474A4F;
    border-bottom: 2px #87C232 solid;
    padding: 1px;
}

ul {
    list-style-type: none;
}

ul a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

ul a:hover {
    color: #87C232;
}

.item {
    width: 100%;
    text-align: center;
    display: none;
    letter-spacing: .2rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.item.active {
    display: block;
}

.toggle {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/*------------------About Section----------------------*/
.about-section {
    text-align: center;
}
.jorge-img {
    width: 100%;
    height: auto;
}




/*-------------------Media Queries---------------------*/
@media(min-width:1024px){

    /*-----landing Section-----*/
    .landing-section {
        font-size: 2rem;
    }

    /*-----Navbar----*/
    .toggle {
        display: none;
    }

    .menu {
        display: inline;
    }

    .item {
        display: inline;
        font-size: 1rem;
    }

    .navbar {
        padding: 0.5rem;
        text-align: end;
    }

}